@model PaginatedList<Book>

@using Library.Data.Entities;
@using Services.Models;
@using Library.Data.Utils;


@{ 
    ViewBag.Title = "Books";
}

<div class="row site-container">
    <div class="row every-page-header">
        <div class="col-md-10 searchBar">
            @using (Html.BeginForm("Index", "Books", FormMethod.Get, new { @class = "form-horizontal" }))
            {
                <div class="inputSearchGroup">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control inputSearch right-edge", @placeholder = "Cauta o carte" })
                    <button type="submit" value="Search" class="btn btn-success searchBtn left-edge"><i class="fas fa-search"></i></button>
                </div>
            }
        </div>

        @if (User.IsInRole(UserRoles.Admin))
        {
            <div class="button-right col-md-2">
                @Html.ActionLink("Adauga o carte", "Create", null, htmlAttributes: new { @class = "btn btn-primary actions-btn" })
            </div>
        }

    </div>
    <div class="row all-books-container">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("SingleBook", "Books", new { bookId = item.Id })">
                <div class="col-md-2 booksContainer" id="bookContainer_@item.Id">
                    <div class="bordered-entity">
                        <img class="bookImage" src="@item.ImgPath" />
                        <div class="index-book-details">
                            <div class="row entity-rows">
                                @item.Title
                            </div>

                            <div class="row entity-rows">
                                @item.Author.Name
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
        <div class="clearfix"></div>
        <div class="text-center">
            @Html.Partial("Pagination", new PaginationModel()
           {
               PageIndex = Model.PageIndex,
               TotalPages = Model.TotalPages,
               PageActionLink = Url.Action("Index", "Books", new { page = "{page}", currentFilter = ViewBag.CurrentFilter }),
               TotalCount = Model.TotalCount,
               PageSize = Model.PageSize,
               WindowSize = Model.WindowSize
           }, null)
        </div>

    </div>
</div>

<div class="modalInfo">
    @Html.Partial("DeleteBookModal")
</div>




