@model PaginatedList<Book>

@using Library.Data.Entities;
@using Services.Models;

@{ 
    ViewBag.Title = "Books";
}


<div class="row site-container">
    <div class="row every-page-header">
        <div class="col-md-10 searchBar">
            @using (Html.BeginForm("Index", "Books", FormMethod.Get, new { @class = "form-horizontal" }))
            {
                <div class="inputSearchGroup">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control inputSearch right-edge", @placeholder = "Cauta o carte" })
                    <button type="submit" value="Search" class="btn btn-success searchBtn left-edge"><i class="fas fa-search"></i></button>
                </div>
            }
        </div>

        @*<div class="page-title col-md-9">Cărți</div>*@
        <div class="button-right col-md-2">
            @Html.ActionLink("Adauga o carte", "Create", null, htmlAttributes: new { @class = "btn btn-primary actions-btn" })
        </div>
    </div>
    <div class="row all-books-container">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("SingleBook", "Books", new { bookId = item.Id })">
                <div class="col-md-2 booksContainer" id="bookContainer_@item.Id">
                    <div class="bordered-entity">
                        <img class="bookImage" src="@item.ImgPath" />
                        <div class="index-book-details">
                            <div class="row entity-rows">
                                @*<div class="col-md-3">Titlu:</div>
                                <div class="col-md-9">@item.Title</div>*@
                                @item.Title
                            </div>

                            <div class="row entity-rows">
                                @*<div class="col-md-3">Autor:</div>
                                <div class="col-md-9">@item.Author.Name</div>*@
                                @item.Author.Name
                            </div>

                            @*<div class="row entity-rows">
                                <div class="col-md-3">Gen:</div>
                                <div class="col-md-9">@item.Genre.Name</div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>

<div class="modalInfo">
    @Html.Partial("DeleteBookModal")
</div>

@*<table class="table">
    <tr>
        <th> @Html.Label("Title") </th>
        <th> @Html.Label("Genre") </th>
        <th> @Html.Label("Author") </th>
        <th> @Html.Label("Description") </th>
        <th> @Html.Label("Release") </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Title </td>
            <td> @item.Genre.Name </td>
            <td> @item.Author.LastName @item.Author.FirstName </td>
            <td> @item.Description </td>
            <td> @item.Release </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { bookId = item.Id })
                <button id="deleteBook_@item.Id" class="btn-primary deletesBook" type="button">Delete</button>
            </td>
        </tr>
    }
</table>*@



