@model Library.Data.Entities.Book

@using Library.Data.Utils;

@{ 
    ViewBag.Title = "Book";
}

<div class="row site-container">
    @if (User.IsInRole(UserRoles.Admin))
    {
        <div class="row">
            <div class="button-right col-md-offset-9 col-md-3 ">
                @Html.ActionLink("Modifica", "Edit", new { bookId = Model.Id }, new { @class = "btn btn-primary" })
                <button id="deleteBook_@Model.Id" class="btn btn-primary deletesBook" type="button">Sterge</button>
            </div>
        </div>
        <hr />
    }

    <div class="row singleBookContainer">
        <div class="col-md-6 singleBookPhoto">
            <img src="@Model.ImgPath" />
        </div>
        <div class="col-md-6 singleBookDetails">
            <div class="favourite-book-icon" id="favouriteBook_@Model.Id">
                <i class="far fa-heart"></i>
                @*<i class="fas fa-heart"></i> Full*@
            </div>
            <div class="book-title">
                @Html.DisplayFor(model => model.Title)
            </div>

            <div class="book-author">
               de
                @Html.DisplayFor(model => model.Author.Name)
            </div>
           
            <div class="book-additional-info">
                <div class="book-publisher">
                    <span>Editura:</span>
                    @Html.DisplayFor(model => model.Publisher)
                </div>

                <div class="book-genre">
                    <span>Gen:</span>
                    @Html.DisplayFor(model => model.Genre.Name)
                </div>

                <div class="book-release">
                    <span>Anul:</span>
                    @Html.DisplayFor(model => model.Release)
                </div>

                <div class="book-pages">
                    <span>Pagini:</span>
                    @Html.DisplayFor(model => model.Pages)
                </div>
                
            </div>
        </div>
    </div>

    <div class="row reviews-container">
        <div class="book-review-title">Descriere:</div>
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="row reviews-container">
        <div class="book-review-title">
            <span>Recenzii</span> 
            <div class="plus-review">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        @if (Model.Reviews != null && Model.Reviews.Count > 0)
        {
            foreach (var item in Model.Reviews)
            {
                <div class="single-review">
                    @item.Comment
                </div>
            }
        }
        else
        {
            <div class="no-content-div">
                Nu exista recenzii pentru aceasta carte.
            </div>
        }

        <div class="new-review-content">
            <div class="row form-group">
                <p class="col-md-2 add-review-text">Adauga o recenzie</p>
                <div class="col-md-8">
                    <input type="text" class="book-review form-control" id="bookReviewText" />
                </div>
                <div class="col-md-2">
                    <div class="sendReviewBtns btn btn-success" id="sendReviewBtn_@Model.Id">Trimite</div>
                </div>
            </div>
        </div>

    </div>
    <hr />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>

<div class="infoModal">
    @Html.Partial("DeleteBookModal")
</div>


