@model Library.Data.Entities.Book

@{ 
    ViewBag.Title = "Book";
}

<div class="row site-container">
    <div class="row">
        <div class="page-title col-md-9">Book</div>
        <div class="button-right col-md-3">
            @Html.ActionLink("Edit", "Edit", new { bookId = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
    <hr />

    <div class="row singleBookContainer">
        <div class="col-md-6 singleBookPhoto">
            <img src="#" />
        </div>
        <div class="col-md-6 singleBookDetails">

            <div class="book-title">
                @Html.DisplayFor(model => model.Title)
            </div>

            <div class="book-author">
               de
                @Html.DisplayFor(model => model.Author.Name)
                <i class="fas fa-user-edit"></i>
                <i class="fa fas-user-edit"></i>
                <i class="far fa-angry"></i>
            </div>
            <div class="book-additional-info">
                <div class="book-publisher">
                    <span>Editura:</span>
                    @Html.DisplayFor(model => model.Publisher)
                </div>

                <div class="book-genre">
                    <span>Gen:</span>
                    @Html.DisplayFor(model => model.Genre.Name)
                </div>

                <div class="book-release">
                    <span>Publicata:</span>
                    @Html.DisplayFor(model => model.Release)
                </div>

                <div class="book-rating">
                    <span>Evaluat:</span>
                    @Html.DisplayFor(model => model.Rating)
                </div>

                <div class="book-pages">
                    <span>Pagini:</span>
                    @Html.DisplayFor(model => model.Pages)
                </div>
                <div class="book-description">
                    <span>Descriere:</span>
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @if (Model.Reviews != null && Model.Reviews.Count > 0)
        {
            <div class="">
                Recenzii
            </div>
        }
        else
        {
            <p>Aceasta carte nu are nicio recenzie</p>
        }
    </div>
    <hr />
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>


