<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
   
    @*<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>*@
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" crossorigin="anonymous">
    <title>@ViewBag.Title - UniLibrary</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="top-header">
            <div class="logo-header container">
                <div class="row">
                    <div class="col-md-6">
                        <a class="clickable-logo" href='@Url.Action("Index","Home")'>
                            <img src="~/Content/Images/book.png" />
                            <div class="logo-text">Libraria Universitatii</div>
                        </a>
                    </div>
                    <div class="col-md-6 loginOptions">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>

            </div>

        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Biblioteca Online", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse site-main-tabs">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Carti", "Index", "Books")</li>
                    <li>@Html.ActionLink("Autori", "Index", "Authors")</li>
                    <li>@Html.ActionLink("Categorii", "Index", "Genres")</li>
                    <li>@Html.ActionLink("Favorite", "Index", "Favourites")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container body-content">
        @RenderBody()
        <footer class="row">
            <p>
                Libraria Universitatii - @DateTime.Now.Year  <br />
                &copy; Toate drepturile sunt rezervate 
            </p>
        </footer>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/appScripts")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/selectizeJs")
    @Styles.Render("~/Content/selectizeCss")

    @RenderSection("scripts", required: false)
</body>
</html>
