@model IEnumerable<Library.Data.Entities.Author>

@using Library.Data.Utils;

@{ 
    ViewBag.Title = "Authors";
}

<div class="row site-container">
    <div class="row every-page-header">
        <div class="page-title col-md-9">Autori</div>
        @if (User.IsInRole(UserRoles.Admin))
        {
            <div class="button-right col-md-3">
                @Html.ActionLink("Adauga un autor", "Create", null, htmlAttributes: new { @class = "btn btn-primary actions-btn" })
            </div>
        }
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.Label("Nume")
            </th>
            <th>
                @Html.Label("Categorie")
            </th>
            <th>
                @Html.Label("Nascut in")
            </th>
            <th>
                @Html.Label("Oras")
            </th>
            <th>
                @Html.Label("Imagine")
            </th>
            @if (User.IsInRole(UserRoles.Admin))
            {
                <th></th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="get-author-books">
                    @Html.ActionLink(@item.Name,"GetAuthorBooks", new { authorId = item.Id })
                </td>
                <td>
                    @foreach (var genre in item.Genres)
                    {
                        <span>@genre.Name</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Born)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="index-author-image">
                    @if (item.ImgPath == null)
                    {
                        <img/>
                    }
                    else
                    {
                        <img src="@item.ImgPath" alt="author" />
                    }
                </td>
                @if (User.IsInRole(UserRoles.Admin))
                {
                    <td>
                        <div class="action-buttons-right">
                            @Html.ActionLink("Modifica", "Edit", new { authorId = item.Id }, new { @class = "btn btn-primary" })
                            <button id="deleteAuthor_@item.Id" class="btn btn-primary deletesAuthor" type="button">Sterge</button>
                        </div>
                    </td>
                }
            </tr>
        }

    </table>
</div>
<div class="modalInfo">
    @Html.Partial("DeleteAuthorModal")
</div>
